* { 
    border: 1px solid white;
}

html body {
    background: Black;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    color: white;
    background-color: black;
}

main {
    text-align: center;
    height: 100%;
}

main h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 150px;
    text-align: center;
    width: 900px;
    margin: auto;
    position: relative;
    top: 15%;
}

.blurb {
    color: white;
}

#jumbotron {
    background-image: url("jumbotron/django.jpeg");
    background-color: black;   
    box-sizing: border-box;
    width: 1920px;
    height: 799px;
}

/* ratio 0.675 */ 
.movie_cover {
    display: block;
    width: 354.375px;
    height: 525px;
    position: relative;
    left: 20%;
    margin-top: 69.84px;
}

/*.movie_trailer {
    width: 560px; 
    height: 315px
}*/

/*table {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight:bolder;
}*/